// 1440px
// 
// 1250px
// 1050px
// 950px

.product-left {
    margin-right: 20px;
}

.photos-box {
  display: flex;
  margin-bottom: 30px;
}

.photos-variants_box {
  margin-right: 20px;
}

.photos-variants_item {
    width: 203px;
    height: 166px;
    border: $border;
    transition: all 250ms linear;
    cursor: pointer;

    @media (max-width: 1250px) {
        width: 150px;
        height: 125px;
    }

    @media (max-width: 1050px) {
        width: 150px;
        height: 125px;
    }

    @media (max-width: 950px) {
        width: 14vw;
        height: auto;
    }


    &:not(:last-child) {
        margin-bottom: 20px;
    }

    &:hover {
        border: 2px solid $accentColor;
    }

    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}

.photos-large_box {
    height: 539px;
    width: 539px;
    border: $border;

    @media (max-width: 1250px) {
        height: 400px;
        width: 400px;
    }
    @media (max-width: 950px) {
        width: 37vw;
        height: auto;
    }


    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}

.description-box {
    display: flex;
}

.description {
    width: 147px;
    height: 149px;
    padding: 20px 5px;

    text-align: center;

    background-color:$accentColor;

    @media (max-width: 1250px) {
        width: 110px;
        height: 110px;
        padding: 10px 5px;
    }

    @media (max-width: 950px) {
        width: 10vw;
        height: auto;
    }


    &:not(:last-child) {
        margin-right: 42px;
    }

    &-title {
        font-weight: 500; 
        font-size: 18px;
        line-height: 1.25;

        @media (max-width: 1250px) {
            font-size: 13px;
        }

    }

    &-text {
        margin: 5px 0 0;
        font-weight: 400; 
        font-size: 16px;
        line-height: 1.4;
        font-family: 'Roboto', sans-serif;

        @media (max-width: 1250px) {
            font-size: 12px;
        }
    }
}
