.product-right {
    flex-basis: 100%;
}

.product-title {
    font-size: 46px;
    line-height: 1.2;
    margin: 0 0 35px;

    @media (max-width: 1250px) {
        font-size: 34px;
    }
}

.product-text {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        display: block;
        height: 2px;
        width: 100%;
        background-color: #000;
    }
}

.product-name,
.product-price {
    margin: 0;
    padding-bottom: 5px;   
    font-size: 24px;
    line-height: 1.5;

    @media (max-width: 1250px) {
        font-size: 18px;
    }
}

.product-name {
    margin-right: 10px;
}

.product-price {
    position: relative;
    display: flex;
    max-height: 40px;
}

.sale-price {
    margin-left: 7px;
    color: #D01917;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 45%;
        display: block;
        height: 2px;
        width: 68px;
        background-color: #D01917;

        @media (max-width: 1250px) {
            width: 51px;
        }
    }
}

.product-select {
    display: flex;
    padding: 18px 0 0 0;
    margin-bottom: 50px;

    @media (max-width: 1050px) {
        margin-bottom: 30px;
    }

    @media (max-width: 950px) {
        margin-bottom: 20px;
    }
}

.product-select_item {

    &:not(:last-child) {
        margin-right: 10px;
    }

    input {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        opacity: 0;
        pointer-events: none;
    }

    input:checked + label {
        box-shadow: 0 0 10px $accentColor;
    }

    label {
        position: relative;
        display: inline-block;
        width: 53px;
        height: 44px;
        cursor: pointer;

        @media (max-width: 950px) {
            width: 3vw;
            height: 3vh;
        }
    }

    label:hover {
        &::after {
            opacity: 1;
        }
    }
}

%after {
    position: absolute;
    min-width: 100px;
    bottom: -30px;
    left: -10px;
    font-size: 16px;
    opacity: 0;
    transition: opacity 150ms linear;

    @media (max-width: 1250px) {
        font-size: 12px;
    }
}

.red-label {
    &::after {
        content:'Red Mirror';
        @extend %after;
    }
}

.blue-label {
    &::after {
        content:'Blue Mirror';
        @extend %after;
    }
}

.green-label {
    &::after {
        content:'Green Mirror';
        @extend %after;
    }
}

.select-img {
    object-fit: cover;
    width: 100%;
}

.buttons-container {
    padding: 10px;
}

.btn-box-add {
  background-color: $primaryColor; 
  margin-bottom: 17px; 
}

.btn-box-presc {
  background-color: $accentColor;  
}


%btn {
    width: 100%;
    padding: 24px;
    margin: 0;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.48;
    font-weight: 500;
    border: none;
    outline: none;
    transform: translate(-10px, -10px);
    transition: transform 150ms linear;

    @media (max-width: 1250px) {
        font-size: 12px;
    }

    &:hover {
        transform: translate(0, 0);
    }
}

.add-btn {
    @extend %btn;
    background-color: $accentColor
}

.presc-btn {
    @extend %btn;
    background-color: $primaryColor;
    color: $accentColor;
}